h1 {
    /* color: red; */
    /* color: rgb(0, 0, 255); */
    color: #ff0000;
}

h2 {
    /* color: red; */
    /* color: rgb(0, 0, 255); */
    color: #eeff00;
}

h3 {
    /* color: red; */
    /* color: rgb(0, 0, 255); */
    color: #0084ff;
}